<body>
  <h1>My Site</h1>
  <a href="/">Home</a> |
  <a href="/about"> About</a>
  <h1>About Me</h1>
  <p>I am a fullstack web developer</p>
  <p>I teach developers how to build fullstack web appplications</p>
</body>
