---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Blog here</h2>
  <p>I teach people how to build static sites</p>
</BaseLayout>
