---
const platfrom = "github";
const username = "haidermalik12";
---

<footer>
  <p>
    Learn more about me and my projects on <a
      href={`https://www.${platfrom}.com/${username}`}>{platfrom}</a
    >
  </p>
</footer>
